.wrapper{
    background-color:black;
    display:inline-block;
    border:1px solid rgba(255,255,255,0.25);
    margin-top:-1px;
    margin-left:-1px;
    width:384px;
    margin-right:5px;
    margin-bottom:5px;
}

.name{
    color:yellow;
    font-size:14px;
    padding:10px;
}

.info{
    font-size:12px;
    line-height:20px;
}