.wrapper{
    padding-bottom:15px;
    margin-top:25px;
    color:white;
}

.button{
    display:inline-block;
    padding:5px 10px;
    background-color:var(--color-1);
    background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
    border:1px solid var(--border-color-3);
    margin-right:5px;
    font-size:16px;
}

.abutton{
    display:inline-block;
    padding:5px 10px;
    background-color:var(--color-3);
    border:1px solid yellow;
    color:yellow;
    margin-right:5px;
    font-weight:bold;
    font-size:14px;
}

.header{
    padding:5px;
    font-size:14px;
}

.result{
    font-size:10px;
    color:yellow;
    margin-bottom:10px;
}