.wrapper{
    padding-bottom:15px;
    margin-top:25px;
    color:white;
}

.button{
    display:inline-block;
    padding:10px;
    background-color:var(--color-1);
    border:1px solid var(--border-color-1);
    margin-right:5px;
    font-weight:bold;
    font-size:20px;
}

.abutton{
    display:inline-block;
    padding:10px;
    background-color:var(--color-3);
    border:1px solid yellow;
    color:yellow;
    margin-right:5px;
    font-weight:bold;
    font-size:14px;
}

.header{
    font-weight:300;
    padding:8px;
    font-size:16px;
}

.result{
    font-size:12px;
    color:yellow;
    margin-bottom:10px;
}