.outter{
    display:inline-block;
    margin-top:-1px;
    margin-left:-1px;
}

.inner{
    background-color:var(--color-1);
    width:250px;
    border:1px solid var(--border-color-1);
    display:grid;
    grid-template-columns: 64px 186px;
    height:100px;
}

.name{
    color:yellow;
    padding:5px 0px;
}

.right{
    background-color:var(--color-2);
}

.table{
    border:none;
}

.table td{
    border:none;
    font-size:12px;
    padding:4px;
    width:170px;
}