.wrapper{
    background-color:var(--color-1);
    border:1px solid var(--border-color-3);
    display:inline-block;
    margin-right:5px;
    margin-bottom:25px;
    max-width:90%;
    width:384px;
    font-size:13px;
}

.title{
    padding:10px;   
    background-color:var(--color-3);
}

.image img{
    width:384px;
    height:216px;
}

.join{
    padding:10px;
}

.row{
    display:grid;
    grid-template-columns: 30% 70%;
    padding:7px;
}

.date{
    color:var(--color-6);
    padding:5px;
}

.recent{
    padding:10px;
    background-color:var(--color-3);
}

.password{
    color:yellow;
}