.wrapper{
    max-width:var(--max-width-1);
    width:var(--width-1);
    margin-left:auto;
    margin-right:auto;
    margin-bottom:var(--margin-1);
    margin-top:var(--margin-1);
}

.title{
    padding:10px;
    font-size:18px;
    display:grid;
    grid-template-columns: auto 14px;
}

.title div:nth-child(2):hover{
    cursor: pointer;
}

.text{
    background-color:rgba(0,0,0,0.125);
    padding:15px;
    padding-right:31px;
}