.wrapper{
    background-color:var(--color-1);
    display:inline-block;
    width:200px;
    margin-right:5px;
    margin-bottom:5px;
    overflow:hidden;
}

.title{
    padding:10px;
    font-weight:bold;
}

.image{
    background-color:black;
    width:200px;
    height:150px;
}

.table div{
    margin-bottom:0px;
}

.table table td, .table table th{
    padding:5px;
}