.wrapper{
	background-color:var(--color-3);
	height:40px;
	max-width:1248px;
	width:var(--width-1);
	display:grid;
	grid-template-columns: 25% 50% 25%;
}

.button{
	background-color:var(--color-4);
	height:40px;
	line-height:40px;
	transition: var(--transition-1);
	user-select: none;
}

.button:hover{
	background-color:var(--color-2);
	cursor: pointer;
	color:yellow;
}

.info{
	color:yellow;
	font-size:12px;
	line-height:40px;
}