.wrapper{
    width:var(--width-1);
    max-width:var(--max-width-1);
    background-color:var(--color-1);
    border:1px solid var(--border-color-1);
    display:grid;
    grid-template-columns: 30% 40% 30%;
    line-height:40px;
}

.wrapper div{
    height:40px;
}

.button{
    display:inline-block;
    background-color:var(--color-2);
    transition: var(--transition-1);
    user-select: none;
}

.button:hover{
    background-color:var(--color-4);
    cursor:pointer;
}

.info{
    color:yellow;
    font-size:14px;
    
}

.previous{
    border-right:1px solid var(--border-color-1);
}

.next{
    border-left:1px solid var(--border-color-1);
}

.table td:nth-child(1){
    width: 175px;
}