.wrapper{

    background-color:var(--color-1);
    display:inline-block;
    width:200px;
    max-width:var(--width-1);
    margin-right:5px;
    margin-bottom:5px;
    overflow:hidden;
}

.title{
    background-color:var(--color-8);
    height:35px;
    line-height:35px;
    font-size:14px;
}


.image{
    background-color:black;
}

.wrapper table td{
    padding:5px;
}

.wrapper table td:nth-child(odd){

    text-align:left;
    color:yellow;
}