.wrapper{

    background-color:var(--color-1);
    display:inline-block;
    width:250px;
    max-width:var(--width-1);
    margin-right:5px;
    margin-bottom:5px;
    overflow:hidden;
}

.title{
    background-color:var(--color-8);
    padding:10px;
    font-weight:bold;
    height:40px;
}


.image{
    background-color:black;
}

.wrapper table td{
    padding:5px;
}

.wrapper table td:nth-child(odd){

    text-align:left;
    color:yellow;
}