.wrapper{
    background-color:var(--color-1);
    width:200px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    display:inline-block;
    margin-right:5px;
}

.title{
    font-size:16px;
    padding:10px;
}

.image{
    width:200px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    background-color:black;
    max-height:150px;
    min-height:150px;
}

.killed{
    padding:5px;
    font-size:14px;
}

.info{
    color:var(--color-7);
    font-size:12px;
}