.wrapper{
    display:inline-block;
}

.box{
    background-color:var(--color-1);
    border:1px solid var(--border-color-1);
    position:absolute;
    padding:5px;
    font-size:10px;
}

.title{
    color:yellow;
    text-align:center;
    font-size:12px;
    padding-bottom:5px;
}

.box th{
    padding:5px;
}

.box td{
    text-align:center;
    font-size:12px;
    padding:3px;
}