.wrapper{
    display:inline-block;
}

.box{
    background-color:rgb(16,16,16);
    border:1px solid rgba(255,255,255,0.25);
    position:absolute;
    padding:5px;
    font-size:10px;
}

.title{
    color:yellow;
    text-align:center;
    font-size:12px;
    padding-bottom:5px;
}

.box th{
    padding:5px;
}

.box td{
    text-align:center;
    font-size:12px;
    padding:3px;
}