.wrapper{
    max-width:var(--max-width-1);
    width:var(--width-1);
}

.wrapper svg{
    max-width:var(--width-1);
    background-color:black;
    max-height:50vh;

}

.title{
    fill:white;
    text-anchor: middle;
}