.wrapper{
    background-color:var(--color-1);
    width:var(--width-1);
    max-width:var(--max-width-1);
    padding:10px 0px;
    font-size:16px;
    transition:var(--transition-1);
}

.wrapper:hover{
    background-color:var(--color-2);
    color:yellow;
}

.flag{
    height:143px;
}