.wrapper{
    width:var(--width-1);
    max-width:var(--max-width-1);
}

.box{
    display:inline-block;
    background-color:black;
    width:250px;
    border:1px solid var(--border-color-1);
    margin-left:-1px;
    margin-top:-1px;
}

.name{
    background-color:var(--color-3);
    padding:5px;
}

.deaths{
    padding:10px;
}

.table{
    width:100%;
}

.table th{
    font-size:14px;
    padding:3px;
}