.table{

    overflow:auto;
    table-layout: fixed;
}



.table th{
    color:white;
    transform: translate(0px, -45px) rotate(90deg);
    height:120px;
    min-height:120px;
    max-height:120px;
    background:transparent;
    text-align:left;
    width:16px;
    min-width:16px;
    max-width:16px;
    padding:0px;
    margin:0px;
    position:relative;
    font-size:12px;
}

.table td{
    width:16px;
    min-width:16px;
    max-width:16px;
    overflow:hidden;
    height:16px;
    min-height:16px;
    max-height:16px;
    font-size:12px;
    padding:2px;
}

.table td:nth-child(1){
    width:100px;
    max-width:100px;
    min-width:100px;
    overflow:hidden;
    text-align:left;
}

.table tr:nth-child(odd){
    background-color:rgb(16,16,16);
}

.suicides{
    background-color:rgb(32,32,32);
}

.key{
    margin-left:-6px;
    width:115px;
    min-width:115px;
    max-width:115px;
    height:21px;
    min-height:20px;
    max-height:20px;
    line-height:20px;
    padding-left:5px;
}

.color{
    width:8px;
    height:8px;
    margin-right:5px;
    display:inline-block;
    border:1px solid rgba(0,0,0,0);
    border-radius:50%;
}

.table tr:hover{
    background-color:rgb(32,32,32);
}

