
.wrapper{
    background-color:rgba(0,0,0,0.75);
    display:inline-block;
    padding:10px;
    border:1px solid rgba(255,255,255,0.25);
}

.wrapper table td:nth-child(1){
    text-align:left;
}

.tabs{
    padding-bottom:10px;
}

.tab{
    display:inline-block;
    font-size:12px;
    background-color:black;
    padding:5px;
    user-select: none;
    border:1px solid rgba(255,255,255,0.25);
    margin-left:-1px;
}


.tab:hover{
    cursor:pointer;
    background-color:rgb(12,12,12);
}

.selected{
    background-color:rgb(64,0,0);
}

.selected:hover{
    background-color:rgb(84,0,0);
}