.tabs{
    width:90%;
    max-width:1000px;
    background-color:black;
    height:40px;
    overflow:hidden;
    border:1px solid rgba(255,255,255,0.25);
    user-select: none;
}

.tab{
    width:30%;
    display:inline-block;
    line-height:40px;
}

.name{
    font-size:16px;
    line-height:25px;
}

.info{
    font-size:10px;
    line-height:12px;
    color:yellow;
}

.next{
    float:right;
    border-left:1px solid rgba(255,255,255,0.25);
}

.previous{
    float:left;
    border-right:1px solid rgba(255,255,255,0.25);
}

.next, .previous{
    background-color:rgb(32,32,32); 
    transition:0.5s all;
}

.next:hover, .previous:hover{
    background-color:rgb(46,46,46); 
    color:yellow;
    cursor:pointer;
}



.table tr:nth-child(even){
    background-color:rgb(16,16,16)
}

