.wrapper{
    background-color:black;
    display:inline-block;
    color:white;
    margin-bottom:10px;
    margin-right:10px;
}

.title{
    font-size:18px;
    padding:10px;
}

.info{
    font-size:14px;
    line-height:22px;
}