.iwrapper{
    background-color:black;
    border:1px solid rgba(255,255,255,0.25);
    width:90%;
    max-width:750px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-1px;
}

.iname{
    font-size:16px;
    padding:5px;
}


.pcontroltop{
    display:grid;
    grid-template-columns: 50% 50%;
    font-size:12px;
}

.pcontroltop div:nth-child(1){
    text-align: right;
    padding-right:10px;
}

.pcontroltop div:nth-child(2){
    text-align: left;
    padding-left:10px;
}

.pcontrol{
    
    
    height:25px;
    overflow:hidden;
    position:relative;
    line-height:25px;
    display:grid;
    grid-template-columns: 150px auto 150px;
}

.name1, .name2{
    background-color:rgb(32,32,32);
    display:inline-block;
    height:100%;
    width:150px;
}


.bar{
    text-align:center;
    background-color:green;
}

.player1, .player2{
    display:inline-block;
    height:25px;
    overflow:hidden;
    font-size:14px;
}
