.attacking{
    display:grid;
    grid-template-columns: 50% 50%;
    font-size:20px;
}

.attacking div{
    border:1px solid var(--border-color-1);
    margin-left:-1px;
    padding:10px;
}

.result{
    font-size:20px;
    padding:10px 0px;
    border:1px solid var(--border-color-1);
    margin-top:-1px;
}
