.wrapper{
    display:grid;
    margin-bottom:25px;
    font-size:14px;
    grid-template-columns: 25% 50% 25%;
}

.button{
    background-color:var(--color-9);
    padding:10px;
    user-select: none;
    transition: all 0.5s;
}

.button:hover{
    cursor: pointer;
    background-color:var(--color-3);
    color:yellow;
}

.info{
    padding:10px;
    background-color:var(--color-1);
    font-size:12px;
}