

.first{
    background-color:var(--color-1);
    display:inline-block;
    border:1px solid rgba(255,255,255,0.25);
    font-size:14px;
    display:grid;
    width:300px;
    grid-template-columns: 100px 200px;
    margin-left:auto;
    margin-right:auto;
    line-height:32px;
}



.table{
    margin-bottom:20px;
}