.special{

    background-color:rgba(0,0,0,0.75);
    display:inline-block;
    padding:10px;
    border:1px solid rgba(255,255,255,0.25);
}

.button{
    display:inline-block;
    font-size:12px;
    background-color:black;
    padding:5px;
    user-select: none;
    border:1px solid rgba(255,255,255,0.25);
    margin-left:-1px;
}



.button:hover{
    cursor: pointer;
}

.active{
    background-color:rgb(64,0,0);
}

.special table{
    margin-bottom:10px;
}

.special table td:nth-child(1){
    text-align:left;
}

.bwrapper{
    margin-bottom:10px;
}

.first{
    background-color:rgb(64,0,0);
    display:inline-block;
    border:1px solid rgba(255,255,255,0.25);
    font-size:12px;
    padding:5px;
}