.wrapper{
    background-color:var(--color-1);
    display:inline-block;
    width:250px;
    overflow:hidden;
    margin-bottom:5px;
    margin-right:5px;
}

.name{
    padding:5px;
    background-color:var(--color-3);
    font-size:14px;
    line-height:24px;
    height:32px;
}

.image{
    height:140px;
    position:relative;
    background-color:black;
}
