.wrapper{
    background-color:var(--color-9);
    margin-bottom:25px;
    font-size:13px;
}
.title{
    padding:5px;
}

.term{
    display:inline-block;
    padding:5px;
}

.name{
    font-style:italic;
    display:inline-block;
    color:var(--color-7);
    padding-right:5px;
}

.value{
    display:inline-block;
}