.wrapper{
    display:inline-block;
    background-color:var(--color-3a);
    width:var(--width-1);
    max-width:600px;
    margin-bottom:10px;
    margin-right:10px;
    border:1px solid var(--border-color-3);
    user-select: none;
    text-align:left;
}

.title{
    padding:10px;
    text-align:center;
}

.barm{
    display:grid;
    grid-template-columns: 25% 65%;  
    margin-bottom:10px;
}


.label{
    font-size:14px;
    height:32px;
    line-height:32px;
    overflow:hidden;
    padding-left:5px;
}

.bars{
    background-color:black;
}

.bar{
    height:16px;
}

.keys{
    margin-top:10px;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(32,32,32);
    font-size:14px;
    line-height:22px;
    text-align:center;
}

.key{
    display:inline-block;
    height:18px;
}

.color{
    height:14px;
    width:14px;
    display:inline-block;
}

.kname{
    text-align:left;
    margin-left:5px;
    display:inline-block;
    height:18px;
    margin-right:5px;
    font-size:12px;
}

.hl{
    height:1px;
    background-color:white;
    width:100%;
}

.vls{
    height:10px;
    text-align:left;
    padding:0px;
}

.vempty{
    width:25%;
    height:10px;
}

.vl{
    width:1px;
    height:10px;
    background-color:white;
    margin-top:-10px;
}

.values{
    height:30px;
    font-size:14px;
    line-height:22px;
    text-align:left;
    position:relative;
}


.value{
    display:inline-block;
    width:16.25%;
    position:absolute;
    text-align:center;
    font-size:12px;
    
}


.mouse{
    background-color:var(--color-2);
    display:inline-block;
    position:absolute;
    text-align:left;
    border:1px solid var(--border-color-3);
}

.mouset{
    padding:5px;
    font-size:14px;
    text-align:center;
}

.mousec{
    padding:5px;
    font-size:12px;
}