

.wrapper img{
    height:100px;
}

.country{
    display:inline-block;
    background-color:var(--color-3);
    background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
    margin-right:10px;
    margin-bottom:10px;
    min-width:200px;
    border:1px solid var(--border-color-3);

}


.name{
    padding:10px;
}

.info{
    line-height:24px;
    color:var(--color-6);
    font-size:14px;
    padding:5px;
}