.box{
    background-color:var(--color-1);
    border:1px solid var(--border-color-1);
    width:384px;
    display:inline-block;
    margin-right:5px;
    margin-bottom:5px;
}

.name{
    padding:10px;
    color:yellow;
}

.info{
    font-size:14px;
    line-height:24px;
}