.box{
    background-color:var(--color-1);
    background:linear-gradient(to bottom right, var(--color-3), var(--color-1));
    width:400px;
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
}

.name{
    padding:10px;
    font-size:16px;
}

.info{
    font-size:12px;
    line-height:24px;
}