.box{
    background-color:var(--color-1);
    background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
    border:1px solid var(--border-color-3);
    width:400px;
    display:inline-block;
    margin-right:5px;
    margin-bottom:5px;
    
}

.name{
    padding:10px;
    font-size:16px;
}

.info{
    font-size:14px;
    line-height:24px;
    color:rgb(160,160,160);
    padding-bottom:5px;
}