.wrapper th:hover{
    cursor: pointer;
    background-color:var(--color-3);
}

.mo{
    background-color:var(--color-8);
}

.mt{
    padding:5px;
    font-size:14px;
}

.mc{
    font-size:12px;
    padding-bottom:10px;
    color:var(--color-6);
}


.totals{
    background-color:var(--color-3);
}

.pagination{
    font-size:14px;
    background-color:var(--color-1);
    padding:5px;
}

.p-info{

    font-size:12px;
    display:inline-block;
    padding:5px 10px;
    color:var(--color-6);
}

.p-button{
    display:inline-block;
    padding:5px;
    background-color:var(--color-2);
    user-select:none;
    border:1px solid var(--border-color-3);
    transition:all 0.3s; 
    font-size:12px;
}

.p-button:hover{
    cursor:pointer;
    background-color:var(--color-4);
    color:yellow;
}

.p-alt-button{
    float:right;
    padding:5px;
    background-color:var(--color-2);
    user-select:none;
    border:1px solid var(--border-color-3);
    transition:all 0.3s; 
    font-size:12px;
    
}