.wrapper{
    display:inline-block;
}

.test{
    background-color:var(--color-3);
    border:1px solid var(--border-color-3);
    display:block;
    position:absolute;
    margin-top:25px;
    padding:10px;
    font-size:14px;
    color:white;
}