.wrapper{
    position:relative;
    color:white;

}

.header{
    font-weight:100;
    color:yellow;
    font-size:14px;
}



.wrapper table th{
    font-weight:300;

}

.wrapper table{

    font-size:12px;
}


.wrapper table tr:nth-child(even){
    background-color:rgb(12,12,12);
}

