.outter{
	height:32px;
	width:var(--width-1);
	max-width:var(--max-width-2);
	background-color:black;
    position:relative;
}

.inner{
	height:100%;
	background-color:rgb(6,89,141);
    transition:all 0.4s;
}

.text{
    font-size:20px;
    line-height:32px;
    margin-top:-32px;
    width:100%;
    text-align:center;
}