.wrapper{
    background-color:var(--color-8);
    color:var(--color-7);
    display:inline-block;
    margin-bottom:10px;
    margin-right:10px;
    max-width:350px;
}

.title{
    font-size:16px;
    padding:10px;
    height:80px;
    color:white;
}

.author{
    font-size:14px;
    padding-top:5px;
    color:var(--color-7);
}

.tinfo{
    font-size:12px;
}

.info{
    font-size:14px;
    line-height:24px;
    padding-top:5px;
    padding-bottom:5px;
}

.enter{

    font-size:12px;
    line-height:18px;
    padding-top:5px;
    color:var(--color-7);
    
}

.levelenter{
    color:var(--color-7);
    font-style:italic;
    font-size:10px;
    line-height:10px;
    display:inline-block;
    padding-top:5px;

}