

.wrapper img{
    height:100px;
}

.country{
    display:inline-block;
    background-color:var(--color-8);
    margin-right:10px;
    margin-bottom:10px;
    min-width:250px;

}


.name{
    padding:10px;
}

.info{
    line-height:24px;
    color:var(--color-6);
    font-size:12px;
    padding:5px 10px;
}