.table td{
    line-height:24px;
}

.wrapper{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.boxes{
    display:grid;
    grid-template-columns:repeat(auto-fill, 225px);
    justify-content: space-evenly;
    
}

.box{
    background-color:black;
    background:linear-gradient(to bottom right, rgb(3,3,3), rgb(16,16,16));
    width:225px;
    font-weight:300;
    font-size:12px;
    line-height:18px;
    border:1px solid rgba(255,255,255,0.25);
    margin-left:-1px;
    margin-top:-1px;
    text-align:left;
    overflow-y:auto;

    
    
}

.score{
    padding:5px;
    font-size:14px;
    text-align:center;
    margin-bottom:5px;
}

.time{
    color:yellow;
    font-style:italic;
}

.row{
    padding-left:5px;
}

.cover{
    color:rgb(100,255,100);
}
.dropped{
    color:rgb(255,100,100);
}

.pickup{
    color:rgb(150,150,255);
}

.assist{
    color:orange;
    font-style:italic;
}