.wrapper{
    background-color:var(--color-3);
    font-size:14px;
    display:grid;
    grid-template-columns: 50% 50%;
    text-align:center;
    max-width:300px;
    height:36px;
    line-height:36px;
}

.wrapper a{
    border:1px solid var(--border-color-3);
}

.selected{
    background-color:rgb(50,0,0);
}