.outter{
    background-color:black;
    display:inline-block;
    background:linear-gradient(to bottom right, rgb(0,0,0), rgb(12,12,12), rgb(0,0,0));
    border:1px solid rgba(255,255,255,0.25);
    width:275px;
    margin-left:-1px;
    margin-bottom:10px;
}

.outter:hover{
    background-color:rgb(16,16,16);
    background:linear-gradient(to bottom right, rgb(16,16,16), rgb(24,24,24), rgb(16,16,16));
}

.name{
    padding:5px 20px;
    color:yellow;
}

.country{
    font-size:10px;
    color:yellow;
}

.country img{
    height:26px;
    margin-top:5px;
    margin-bottom:5px;
}

.face{
    border:1px solid rgba(255,255,255,0.25);
}

.outter table{
    border:none;
    width:100%;
    background-color:rgba(12,12,12,0.75);
    border-top:1px solid rgba(255,255,255,0.1);
}


.outter td{
    font-size:12px;
    padding:0px;
    padding-top:5px;
    border:none;
}


.outter td:nth-child(1){
    text-align:left;
    padding-left:10px;
}
.outter td:nth-child(2){
    text-align:right;
    padding-right:10px;
}


.outter tr:last-child td{
    padding-bottom: 5px;
}

.outter tr:hover{
    background-color:rgb(3,3,3);
}


.bwrapper{
    position:relative;
    height:18px;
    line-height:18px;
    font-size:12px;
    overflow:hidden;
    background-color:rgba(12,12,12,0.75);
}

.bar{
    height:16px;
    border:1px solid rgba(255,255,255,0.1);
    background-color:black;

    
}

.barinner{
    height:16px;
    background-color:rgb(100,0,0);
    background:linear-gradient(to bottom, rgb(100,0,0), rgb(10,0,0));
}

.bname{
    height:20px;
}

.bvalue{
    position:absolute;
    margin-top:-20px;
    width:70%;
    height:20px;
    margin-left:30%;
}

.lb{
    display:grid;
    grid-template-columns: 40% 60%;
}