.outter{
    background-color:black;
    display:inline-block;
    border:1px solid rgba(255,255,255,0.25);
    width:275px;
    margin-left:-1px;
    margin-bottom:10px;
    transition:background-color 0.5s;
    padding-bottom:5px;
}

.outter:hover{
    background-color:rgb(16,16,16);
}

.name{
    padding:5px 20px;
    color:yellow;
}

.country{
    font-size:10px;
    color:yellow;
}

.country img{
    height:26px;
    margin-top:5px;
}

.face{
    border:1px solid rgba(255,255,255,0.25);
}

.outter table{
    border:none;
    background-color:transparent;
    width:80%;
}
.outter td{
    font-size:12px;
    padding:0px;
    padding-bottom:2px;
    border:none;

}

.outter td:nth-child(1){
    text-align:left;
}
.outter td:nth-child(2){
    text-align:right;
}