.wrapper{
    background-color:var(--color-3a);
    max-width:var(--max-width-2);
    width:var(--width-1);
    margin-bottom:5px;
    text-align:left;
    transition:all 0.5s;
    display:inline-block;
    margin-right:10px;
    padding-bottom:10px;
}

.wrapper:hover{
    background-color:var(--color-1);
}

.name{
    font-size:18px;
    padding:5px;
    padding-top:10px;
    padding-left:10px;
    line-height:28px;
}

.name img{
    height:20px;
    margin-right:10px;
}

.face{
    margin-left:10px;
    margin-bottom:10px;
    display:inline-block;
}

.countryName{
    font-size:12px;
    color:rgb(150,150,150);
    padding-left:10px;
}

.playtime{
    font-size:12px;
    text-align:right;
    height:12px;
    padding-right:10px;
}

.right{
    margin-left:84px;
    margin-top:-80px;
    font-size:12px;
    color:var(--color-7);
    line-height:16px;
}


.bwrapper{
    display:grid;
    grid-template-columns: 75px 50px auto;
    padding-right:10px;
   
}

.bar{
    background-color:black;
    height:8px;
    margin-top:5px;
    margin-right:10px;
    width:100%;
    overflow:hidden;
}
.ibar{
    background-color:rgb(6,89,141);
    height:8px;
}
