.canvas{
    display:inline-block;
    border:1px solid rgba(255,255,255,0.25);
    margin-left:-1px;
    max-width:95%;
    margin-right:5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.canvas:hover{
    cursor:pointer;
}