.canvas{
    display:block;
    border:1px solid rgba(255,255,255,0.25);
    
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin-bottom:10px;
}

.canvas:hover{
    cursor:pointer;
}
