.wrapper{
    background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
    display:inline-block;
    width:300px;
    margin-right:5px;
    margin-bottom:5px;
    border:1px solid var(--border-color-3);
}

.title{
    padding:10px;
}

.tusages{
    color:var(--color-6);
    padding:5px;
    font-size:14px;
}

.bwrapper{

}

.bar{
    height:25px;
    background-color:black;
}

.bari{
    height:25px;
    background-color:pink;
    display:inline-block;
}

.tvalue{
    display:inline-block;
}