.wrapper{
    background-color:var(--color-9);
    margin-top:25px;
    margin-bottom:25px;
    padding:5px;
    padding-bottom:25px;
}

.button{
    user-select:none;
    padding:5px;
    background-color:var(--color-2);
    display:inline-block;
    margin-right:5px;
    font-size:14px;
    margin-bottom:10px;
}

.button:hover{
    cursor: pointer;
}

.date{
    font-size:18px;
    font-weight:bold;
    padding:5px;
}

.days{
    width:300px;
    text-align:left;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.day{
    background-color:var(--color-5);
    /*display:inline-block;*/
    font-size:14px;
    line-height:30px;
    user-select: none;
    text-align:center;
    border:1px solid var(--border-color-3);
}

.day:hover{
    cursor: pointer;
    background-color:var(--color-4);
}

.today{
    background-color:yellow;
    color:black;
}