.content canvas{
    width:var(--width-1);
    max-width:var(--max-width-1);
}

#downloads a{
  color:white;
  font-weight:300;
  background-color:var(--color-1);
  border:1px solid var(--border-color-2);
  font-size:12px;
  padding:5px;
  margin-left:-1px;
  transition:all 0.5s;
}

#downloads a:hover{
    color:yellow;
    background-color:var(--color-2);
}