.wrapper{
    display:inline-block;
    background-color: var(--color-3);
    background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
    margin-right:10px;
    margin-bottom:10px;
    max-width:300px; 
    width:250px;
    padding-top:10px;
    border:1px solid var(--border-color-3);
}

.inner{
    font-size:14px;
    line-height:24px;
    padding-bottom:5px;
    color:var(--color-6);
}

.face img{
    border:1px solid rgba(255,255,255,0.25);
}