:root {
	--bg-color-1:rgb(64,64,64);
	--bg-color-2:rgb(32,32,32);
	--bg-color-3:rgb(46,46,46);
	--font-color-1:rgb(255,255,255);
	--font-color-2:rgb(164,164,164);
	--active-link-color:yellow;
	--border-color-1:rgba(255,255,255,0.125);
	--max-width-1:90%;
	--team-color-none:rgb(0,0,0);
	--team-color-red:rgb(89,0,0);
	--team-color-blue:rgb(20,61,116);
	--team-color-green:rgb(0,66,0);
	--team-color-yellow:rgb(95,95,0);
	--margin-1:25px;
}

.team-none{
	background-color:var(--team-color-none);
	
}

.team-red{
	background-color:var(--team-color-red);
}


.team-blue{
	background-color:var(--team-color-blue);
}

.team-green{
	background-color:var(--team-color-green);
}

.team-yellow{
	background-color:var(--team-color-yellow);
}

*{
	margin:0;
	padding:0;
	font-family:Arial;
}

table{
	border-collapse: collapse;
}

body{ 
	min-height: 100vh; 
	display: grid;
	grid-template-rows: auto 5fr auto;
	background-color:var(--bg-color-1);
  }


footer{ 
	min-height:50px; 
	background:var(--bg-color-2); 
	color:white;
}

a{
	color:var(--font-color-1);
	text-decoration: none;
}

.center{
	margin-left:auto;
	margin-right:auto;
}


.padding-top{
	height:50px;
}