.wrapper{
    background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
    width:200px;
    height:150px;
    display:inline-block;
    margin-right:5px;
    margin-bottom:5px;
    border:1px solid var(--border-color-3);
}

.title{
    font-size:16px;
    padding:5px;
}

.value{
    font-size:14px;
    padding:5px;
}