.button{
    display:inline-block;
    user-select:none;
    padding:5px;
    border:1px solid var(--border-color-1);
    margin-left:5px;
    color:white;
}

.button:hover, .delete:hover{
    cursor:pointer;
}

.delete{
    display:inline-block;
    padding:5px;
    user-select:none;
    border:1px solid var(--border-color-1);
    color:white;
}