.wrapper table{
    border-collapse: collapse;
    color:var(--font-color-1);
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
}

.wrapper th{
    padding:var(--padding-1);
    color:yellow;
    font-weight:normal;
}

.wrapper th:hover{
    cursor: pointer;
    user-select: none;
}

.wrapper td{
    padding:var(--padding-2);
}

.wrapper tr:nth-child(even){
    background-color:var(--bg-color-2);
}
.wrapper tr:nth-child(odd){
    background-color:var(--bg-color-3);
}