.wrapper{
    overflow:hidden;
}
.wrapper img{
    width:32px;
    height:32px;
    margin-top:10px;
}

.score{
    line-height:20px;
    font-size:20px;
    font-weight:400;
    padding:10px 5px;
}

.dm{
    height:100%;
    background-color:var(--color-3);
    height:86px;
    line-height:26px;

}