.box{
    display:inline-block;
    width:175px;
    background-color:var(--color-10);
    border:1px solid var(--border-color-3);
    margin-left:5px;
    margin-bottom:5px;
}

.title{
    font-size:14px;
    padding:5px;
}

.image{
    width:148px;
    height:110px;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
}

.image img{
    width:100px;
}

.value{
    font-size:14px;
    color:yellow;
    padding:5px;
}