.wrapper{
    display:inline-block;
    padding:4px 3px;
    text-align:center;
    background-color:var(--color-5);
    font-size:12px;
    user-select: none;
    text-align:center;
    border:1px solid var(--border-color-2);
    margin-left:-1px;
    margin-top:-1px;
}

.wrapper:hover{
    cursor: pointer;
    background-color:var(--color-4);
}

.highlight{
    font-weight: bold;
    color:yellow;
    border:1px solid var(--border-color-2);
}

.mo{
    position:absolute;
    padding:3px;
    background-color:var(--color-1);
    border:1px solid var(--border-color-2);
    color:white;
    font-weight: normal;
    opacity: 1;
}

.title{
    font-size:14px;
    padding:3px;
    font-weight:500;
}

.text{
    padding:3px;
    color:white;
    font-size:12px;
}