.wrapper th:hover{
    cursor: pointer;
    background-color:var(--color-3);
}

.mo{
    background-color:var(--color-8);
}

.mt{
    padding:5px;
    font-size:14px;
}

.mc{
    font-size:12px;
    padding-bottom:10px;
    color:var(--color-6);
}


.totals{
    background-color:var(--color-3);
}