.buttons{

    width:90%;
    max-width:1000px;
    overflow:hidden;
    height:40px;
    background-color:black;
    border:1px solid rgba(255,255,255,0.25);
    user-select: none;

}

.buttons div{
    width: 30%;
    display:inline-block;
    padding:5px 0px;
    height:40px;
    line-height:30px;
    transition:all 0.5s;
   
}

.info{
    font-size:12px;
}

.previous{
    background-color:rgb(32,32,32);
    font-size:16px;
    float:left;
    border-right:1px solid rgba(255,255,255,0.25);
}

.next{
    background-color:rgb(32,32,32);
    font-size:16px;
    float:right;
    border-left:1px solid rgba(255,255,255,0.25);
}

.previous:hover, .next:hover{
    cursor:pointer;
    color:yellow;
    background-color:rgb(46,46,46);
}

.table tr:nth-child(even){
    background-color:rgb(16,16,16);
}

.table{
    font-size:9px;
}

.table td:nth-child(1){
    width:150px;
    text-align:left;
}