.box{
    background-color:var(--color-2);
   
    border:1px solid var(--border-color-1);
    margin-top:-1px;
    display:inline-block;
    margin-left:-1px;
    margin-bottom:10px;
}

.name{
    font-size:16px;
    padding:10px;
    background-color:var(--color-1);
    color:yellow;
}

.info{
    padding:10px;
    font-size:14px;
    line-height:24px;
}

.wrapper{
    max-width:1250px;
    width:90%;
}