.box{
    background-color:var(--color-8); 
    display:inline-block;
    margin-bottom:5px;
    margin-right:5px;
    width:400px;
    
}

.name{
    font-size:16px;
    padding:10px;
    color:yellow;
    font-weight:bold;
}

.info{
    padding:10px;
    font-size:14px;
    line-height:24px;
}
