.dtable{
    background-color:black;
    color:white;
    font-weight:300;
    width:80%;
    max-width:1000px;
    margin-top:10px;
}

.dtable th{
    font-weight:300;
    padding:5px;
    color:yellow;
    background-color:black;
    border:1px solid rgb(32,32,32);
}

.dtable td{
    border:1px solid rgba(255,255,255,0.1);
    padding:5px;
    background-color:rgba(0,0,0,0.25);
}

.dtable td:nth-child(1){
    text-align:left;
}

.totals{
    background-color:rgba(0,0,0,0.5);
}