.wrapper{
    overflow:auto;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    min-width:100%;
}


@media only screen and (max-width: 800px) {
    .wrapper table td, .wrapper table th{
        font-size:12px;
        padding:10px 2px;
    }

    .wrapper table td img{
        display:none;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper table td, .wrapper table th{
        font-size:10px;
        padding:10px 1px;
    }

    .wrapper table td img{
        display:none;
    }
}

.wrapper table th{
    padding:15px 5px;
    max-width:100px;
    word-wrap: break-word;
}
