.wrapper{
    width:var(--width-1);
    max-width:var(--max-width-1);
    background-color:var(--color-1);
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
}

.box{
    display:inline-block;
    padding:10px 0px;
    width:100%;
    width:300px;
    background-color:var(--color-3);
    border:1px solid var(--border-color-2);
    margin-left:5px;
}

.title{
    font-size:18px;
    padding:5px;
    padding-bottom:10px;
}

.image{
    width:298px;
    height:160px;
    background-color:black;
    padding-top:10px;
    margin-bottom:10px;
}

.image img{
    width:100px;
}

.value{
    font-size:14px;
}

.event{
    font-size:18px;
    padding:10px;
}