.wrapper{
    width:var(--width-1);
    max-width:var(--max-width-1);
    background-color:var(--color-1a);
    margin-left:auto;
    margin-right:auto;
}


.event{
    font-size:16px;
    padding:10px;
}

.time{
    color:yellow;
    font-style:italic;
}

.assists{
    background-color:var(--color-3);
    padding:10px;
    font-size:14px;
}

.smessage{
    font-size:16px;
    padding:10px;
}

.scores div div{
    font-size:16px;
    padding:5px;
}
