.button{

    padding:5px;
    border:1px solid var(--color-1);
    user-select: none;
    background-color:var(--color-3);
    margin-right:5px;
    display:inline-block;
}

.button:hover{
    cursor: pointer;
}