.wrapper{
    position:fixed;
    bottom:0;
    width:100%;
    z-index: 999999;
}

.header{
    padding:10px;
    font-size:18px;
    font-weight:bold;
}

.content{
    font-size:16px;
    padding:20px;
}


.default{
    background-color:rgb(32,32,32);
}

.pass{
    background-color:rgb(17, 133, 17);
}

.warning{
    background-color:rgb(150,150, 0);
}

.error{
    background-color:rgb(200,50,50);
}