.wrapper{
    position:fixed;
    bottom:0;
    width:100%;
    z-index: 999999;
    background-color:rgb(32,32,32);
    border-top:1px solid rgba(255,255,255,0.1);
}

.header{
    padding:10px;
    font-size:20px;
    font-weight:bold;
}

.content{
    font-size:14px;
    padding:10px;
}
