.wrapper{
    background-color:var(--color-3);
    background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
    max-width:var(--max-width-1);
    width:var(--width-1);
}

.map{  
    line-height:32px;
    font-size:16px;
}

.mutators{
    font-size:12px;
    line-height:20px;
    padding:5px;
}


.small{
    font-size:14px;
    color:var(--color-6);
}
