.wrapper{
    background-color:var(--color-1);
    display:inline-block;
    max-width:90%;
    min-width:400px;
    font-size:13px;
    border:1px solid var(--border-color-2);
    margin-right:5px;
    margin-bottom:5px;
}

.wrapper table{
    width:100%;
}

.wrapper table td:nth-child(1){
    text-align: left;
}

.name{
    padding:10px;
    font-size:16px;
}

.box{
    padding-bottom:10px;
}