.table td, .table th{

    overflow:hidden;
    text-align:left;
    font-size:12px;
}

.table th{
    text-align:center;
}

.table td:nth-child(5), .table td:nth-child(6){
    text-align:center;
}

.time{
    padding-right:5px;
}

.cover{
    padding-right:5px;
}

.table i{
    color:yellow;
}