.icon{
    height:14px;
    margin-right:5px;
}

.viewall{
    background-color:var(--color-3);
    padding:10px 15px;
    display:inline-block;
    transition:all 0.5s;
    font-size:14px;
    line-height:14px;
}

.viewall:hover{
    background-color:var(--color-2);
    color:yellow;
}

.mleft5{
    margin-left:5px;
}