.wrapper{
    height:36px;
    display:grid;
    grid-template-columns: 50% 50%;   
}


.label{
    max-height:32px;
    font-size:16px;
    line-height:32px;
    overflow:hidden;
    text-align:right;
    padding-right:10px;

}

.fake{

    background-color:var(--color-8);
    display:block;
    font-size:12px;
    text-align:left;
    border:1px solid var(--border-color-3);
    max-height:32px;
    font-size:16px;
    line-height:32px;
    padding-left:5px; 
    
}

.entries{
    text-align:left;
    overflow-y: auto;
    max-height:75vh;
    user-select: none;
}

.entries div{
    padding-left:5px;
}

.entry{
    background-color:var(--color-8);
    display:block;
    text-align:left;
    border:1px solid var(--border-color-3);
    max-height:36px;
    font-size:16px;
    line-height:36px;
    width:100%;
}

.selected{
    background-color:darkred;
}

.entry:hover{
    background-color:var(--color-5);
    cursor: pointer;
}