.wrapper{
	position:fixed;
	top:0;
	width:100%;
	z-index: 999999;
	border-bottom:1px solid rgba(255,255,255,0.1);
}

.header{
	background-color:var(--color-3);
	background:linear-gradient(to bottom, var(--color-1a), var(--color-1a));
	color:white;
}

.h1{
	font-weight:300;
	font-size:14px;
    margin-top:5px;
	margin-bottom:5px;
	text-align:center;
}

.nl{
	display:inline-block;
	font-weight:400;
	font-size:14px;
	padding:10px 10px;
	transition:color 0.25s;
}

.nl:hover{
	color:yellow;
}

.nav{
    color:white;
}

.selected{
	color:pink;
}