.wrapper{
	position:fixed;
	top:0;
	width:100%;
	z-index: 999999;
}

.header{
	background-color:var(--color-1);
	color:white;
}

.h1{
	font-weight:300;
	font-size:14px;
    margin-top:5px;
	margin-bottom:5px;
	text-align:center;
}

.nl{
	display:inline-block;
	font-weight:400;
	font-size:14px;
	padding:5px 5px;
}

.nl:hover{
	color:yellow;
}

.nav{
    color:white;
}