@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background-color:rgb(46,46,46);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height:100%;
    position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}



main{

  min-height:100vh;
  position:relative;
  
}

header{
  background-color:black;
  border-bottom:1px solid rgb(3,3,3);
  color:white;
}

h1{
  font-weight:300;
  text-align:right;
  font-size:22px;
  padding:5px 10px;
}


footer{
  background-color:black;
  color:white;
  text-align:center;
  position:absolute;
  bottom:0;
  min-width:100%;
  font-weight:300;
  padding:20px 0px;
  font-size:14px;
}

.hidden{
  display:none;
}

.default-color{
  background-color:rgb(0,0,0);
  color:white;
}

.default{
  padding-top:10px;
  margin-top:25px;
  text-align:center;
  padding-bottom:25px;
  width:75%;
  margin-left:auto;
  margin-right:auto;
}


.default-header{
  text-align:center;
  font-size:22px;
  color:white;
  font-weight:100;
  padding-bottom:10px;
}


.nl{
  display:inline-block;
  color:white;
  font-weight:300;
  font-size:18px;
  padding:5px 10px;
}

.nl:hover{
  color:yellow;
}

.country-flag{
  width:32px;
}

#content{
  padding-bottom:100px;
}

.kv{
  display:grid;
  grid-template-columns: 50% 50%;
}

.kv div:nth-child(1){
  color:yellow;
}


table{
  border-collapse: collapse;
}

.special-table{

  color:white;
  
  margin-top:-1px;
  padding:10px;
}

.special-table table{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  border:1px solid rgba(255,255,255,0.2);
  background-color:black;
}

.special-table th{
  font-weight:300;
  padding:10px;
  color:yellow;
  border:1px solid rgba(255,255,255,0.1);
}

.special-table td{
  font-weight:100;
  padding:10px;
  border:1px solid rgba(255,255,255,0.1);
}

.special-table tr:nth-child(even){
  background-color:rgb(12,12,12);
}

.title-flag{
  height:20px;
}

#mouse-over{
  position:absolute;
  background-color:black;
  color:white;
  text-align:center;
  border:1px solid rgba(255,255,255,0.25);
  box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);
  display:none;
}

#mouse-over-title{
  color:yellow;
  background-color:rgb(12,12,12);
  font-size:18px;
  padding:5px 40px;
  border-bottom:1px solid rgba(255,255,255,0.125);
}

#mouse-over-content{
  padding:10px;
  max-width:200px;
}

.yellow{
  color:yellow;
}

.green{
  color:rgb(50,255,50)
}

.red{
  color:rgb(200,0,0);
}

.solo{
  background-color:rgb(32,32,32);
  background:linear-gradient(to bottom right, rgb(12,12,12), rgb(32,32,32));
  
}

.duo{
  background-color:green;
  display:grid;
  grid-template-columns: 50% 50%;
}

.duo div:nth-child(1), .trio div:nth-child(1), .quad div:nth-child(1){
  background-color:rgb(109,0,0);
  background:linear-gradient(to bottom right, rgb(79,0,0), rgb(129,0,0));
}

.duo div:nth-child(2), .trio div:nth-child(2), .quad div:nth-child(2){
  background-color:rgb(13,94,229);
  background:linear-gradient(to bottom right, rgb(13,74,209), rgb(33,94,249));
}

.duo div:nth-child(3), .trio div:nth-child(3), .quad div:nth-child(3){
  background-color:rgb(48,118,48);
  background:linear-gradient(to bottom right, rgb(28,98,28), rgb(68,138,68));
}

.duo div:nth-child(4), .trio div:nth-child(4), .quad div:nth-child(4){
  background-color:rgb(124,124,36);
  background:linear-gradient(to bottom right, rgb(104,104,16), rgb(144,144,56));
}

.trio{
  display:grid;
  grid-template-columns: 33% 34% 33%;
}

.quad{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.solo div, .duo div, .trio div, .quad div{
  padding:5px;
  font-size:14px;
  border:1px solid rgba(0,0,0,0.5);
}

.weapon-image{
  width:150px;
}

.center{
  margin-left:auto;
  margin-right:auto;
}