@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


:root{
	--color-1:rgb(32,32,32);
	--color-2:rgb(46,46,46);
	--color-3:rgb(26,26,26);
	--color-4:rgb(64,64,64);
	--color-hf:rgb(100,100,100);
	--lg-hf:linear-gradient(to bottom, rgb(0,0,0), rgb(32,32,32));
	--border-color-1:rgba(255,255,255,0.25);
	--border-color-2:rgba(255,255,255,0.125);
	--transition-1:all 0.5s;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}

html,
body {
	/*background-color:hsl(60,10%,100%);*/
	background-image:url(../public/images/bg.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height:100%;
	position: relative;
	overflow-x:hidden;
}

a {
	color: inherit;
	text-decoration: none;
}



main{
	min-height:100vh;
	position:relative;
	background-color:rgba(3,3,3,0.85);
}

header{
	background-color:var(--color-3);
	border-bottom:1px solid var(--border-color-1);
	color:white;
}

h1{
	font-weight:100;
	text-align:right;
	font-size:14px;
	padding:10px;
}


footer{
	background-color:var(--color-3);
	color:white;
	text-align:center;
	position:absolute;
	bottom:0;
	min-width:100%;
	font-weight:300;
	padding:20px 0px;
	font-size:14px;
	border-top:1px solid var(--border-color-1);
}

.hidden{
	display:none;
}


.default{
	padding-top:10px;
	text-align:center;
	padding-bottom:25px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	color:white;
}


.default-header{
	text-align:center;
	font-size:18px;
	color:white;
	font-weight:300;
	padding-bottom:20px;
	padding-top:20px;
}


.nl{
	display:inline-block;
	color:white;
	font-weight:300;
	font-size:16px;
	padding:5px 5px;
}

.nl:hover{
	color:yellow;
}

.country-flag{
	width:16px;
	margin-right:2px;
}

#content{
	padding-bottom:100px;
}

.kv{
	display:grid;
	grid-template-columns: 50% 50%;
}

.kv div:nth-child(1){
	color:yellow;
}


table{
	border-collapse: collapse;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	background-color:var(--color-1);
	border:1px solid var(--border-color-1);
	font-weight:100;
	margin-left:auto;
	margin-right:auto;

}

th{
	font-weight:300;
	color:yellow;
	border:1px solid var(--border-color-2);
	font-size:14px;
	padding:10px 5px;
	background-color:var(--color-3);
}

td{
	font-weight:100;
	padding:8px 10px;
	border:1px solid var(--border-color-2);
	font-size:12px;
}

tr{
	transition:var(--transition-1);
}

tr:nth-child(odd){
	background-color:var(--color-1);
}

tr:nth-child(even){
	background-color:var(--color-2);
}

tr:nth-child(odd):hover, tr:nth-child(even):hover{
	background-color:var(--color-4);
	color:yellow;
}

.title-flag{
	height:20px;
}

#mouse-over{
	position:absolute;
	background-color:black;
	color:white;
	text-align:center;
	border:1px solid rgba(255,255,255,0.25);
	box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);
	display:none;
	font-weight:300;
	max-width:300px;
}

#mouse-over-title{
	color:yellow;
	font-size:16px;
	padding:5px 40px;
	border-bottom:1px solid rgba(255,255,255,0.125);
}

#mouse-over-content{
	padding:5px;
	
	font-size:14px;
}

.yellow{
	color:yellow;
}

.green{
	color:rgb(50,255,50)
}

.red{
	color:rgb(200,0,0);
}

.orange{
	color:orange;
}

.solo{
	background-color:rgb(32,32,32);
 
	
}

.duo{
	background-color:green;
	display:grid;
	grid-template-columns: 50% 50%;
}

.team-none{
	background-color:rgb(32,32,32);
	/*background:linear-gradient(to bottom, rgb(16,16,16), rgb(24,24,24));*/
}

.team-none:nth-child(even){
	background-color:rgb(24,24,24);
}

.duo div:nth-child(1), .trio div:nth-child(1), .quad div:nth-child(1), .team-red{
	background-color:rgb(89,0,0);
	/*background:linear-gradient(to bottom right, rgb(79,0,0), rgb(129,0,0));*/
}



.duo div:nth-child(2), .trio div:nth-child(2), .quad div:nth-child(2), .team-blue{
	background-color:rgb(20,61,116);
	/*background:linear-gradient(to bottom right, rgb(0,41,96), rgb(21,61,116));*/
}


.duo div:nth-child(3), .trio div:nth-child(3), .quad div:nth-child(3), .team-green{
	background-color:rgb(0,66,0);
	/*background:linear-gradient(to bottom right, rgb(0,46,0), rgb(20,66,20));*/
}


.duo div:nth-child(4), .trio div:nth-child(4), .quad div:nth-child(4), .team-yellow{
	background-color:rgb(91,91,0);
	/*background:linear-gradient(to bottom right, rgb(71,71,0), rgb(91,91,20));*/
}


.trio{
	display:grid;
	grid-template-columns: 33% 34% 33%;
}

.quad{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.solo div, .duo div, .trio div, .quad div{
	font-size:14px;
	margin-left:-1px;
	height:100%;
}

.weapon-image{
	width:150px;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

.text-left{
	text-align:left;
}

.text-center{
	text-align:center;
}

.m-bottom-25{
	margin-bottom:25px;
}

.m-bottom-10{
	margin-bottom:10px;
}

.m-top-10{
	margin-top:10px;
}

.m-top-25{
	margin-top:25px;
}

.t-width-1000{
	max-width:1000px;
}

.p-left-5{
	padding-left:5px;
}

.t-width-1{
	width:90%;
	max-width:1000px;
	overflow:hidden;
}


.select-row{
	display:grid;
	grid-template-columns: 50% 50%;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	margin-bottom:10px;
	position:relative;
}

.default-select{
	background-color:var(--color-2);
	color:white;
	border:1px solid rgb(255,255,255,0.25);
	font-size:16px;
	font-weight:300;
	padding:5px;
	width:95%;
	height:30px;
	line-height:30px;
}



.select-label{
	color:white;
	width:95%;
	font-size:16px;
	text-align:right;
	margin-right:5px;
	line-height:30px;
}

.default-textbox{
	width:290px;
	background-color:rgb(16,16,16);
	font-size:18px;
	font-weight:300;
	padding:5px;
	border:1px solid rgba(255,255,255,0.25);
	margin-bottom:10px;
	color:white;
	margin-left:10px;
}

.search-button{
	display:block;
	width:290px;
	background-color:rgb(16,16,16);
	color:white;
	border:1px solid rgba(255,255,255,0.25);
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

.default-radios{
	font-size:12px;
	color:white;
}

.default-radios input[type='radio']{
	margin-left:5px;
	margin-right:5px;
}
.not-found{
	color:white;
	padding:10px;
}

input[type="range"]{
	background-color:red;
	color:green;
}

.tabs, .big-tabs{
	text-align:center;
	margin-bottom:10px;
}

.tab{
	background-color:black;
	display:inline-block;
	font-size:12px;
	padding:5px;
	border:1px solid rgba(255,255,255,0.25);
	transition:background-color 0.5s;
	margin-left:-1px;
}

.big-tab{
	font-size:16px;
	display:inline-block;
	background-color:black;
	color:white;
	padding:5px;
	border:1px solid rgba(255,255,255,0.25);
	margin-left:-1px;
	margin-top:-1px;
	transition:background-color 0.5s;
}


.tab:hover, .big-tab:hover{
	cursor: pointer;
	user-select: none;
	background-color:rgb(32,32,32);
}

.tab-selected{
	background-color:rgb(64,0,0);
}

.tab-selected:hover{
	background-color:rgb(128,0,0);
}

.no-drop{
	cursor:no-drop;
}

.name-td{
	min-width:150px;
	max-width:150px;
}

.black{
	background-color:black;
}

.padding-0{
	padding:0;
	margin:0;
}