@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

:root{
	--color-1:rgb(22,22,22);
	--color-1a:rgba(22,22,22,0.8);
	--linear-gradient-1:linear-gradient(to bottom, rgb(22,22,22), rgb(33,33,33));
	--linear-gradient-2:linear-gradient(to bottom, rgb(44,44,44), rgb(55,55,55));
	--linear-gradient-3:linear-gradient(to bottom right, rgb(24,24,24), rgb(46,46,46), rgb(24,24,24));
	--linear-gradient-4:linear-gradient(to bottom, rgb(0, 96, 175), rgb(18, 50, 156));
	--color-2:rgb(38,38,38);
	--color-2a:rgb(38,38,38, 0.7);
	--color-3:rgb(16,16,16);
	--color-3a:rgba(16,16,16,0.7);
	--color-4:rgb(54,54,54);
	--color-4a:rgb(54,54,54, 0.7);
	--color-5:rgb(46,46,46);
	--color-6:rgb(200,200,200);
	--color-hf:rgb(90,90,90);
	--color-7:rgb(160,160,160);
	--color-8:rgb(24,24,24);
	--color-9:rgb(28,28,28);
	--color-10:rgb(38,38,38);
	--lg-hf:linear-gradient(to bottom, rgb(0,0,0), rgb(22,22,22));
	--border-color-1:rgba(255,255,255,0.25);
	--border-color-2:rgba(255,255,255,0.125);
	--border-color-3:rgba(0,0,0,0.25);
	--transition-1:all 0.5s;
	--width-1:90%;
	--max-width-1:1400px;
	--max-width-2:500px;
	--max-width-3:750px;
	--red-1:rgb(200,40,40);
	--red-2:rgba(89,0,0,0.75);
	--red-3:rgba(69,0,0,0.75);
	--yellow-1:"yellow";
	--yellow-2:rgba(95,95,0, 0.75);
}

.color3{
	background-color:var(--color-3);
}

.color4{
	background-color:var(--color-4);
}

.color8{
	background-color:var(--color-8);
}

body{

	min-height:100vh;
	position: relative;
	background-color:var(--color-2);
	background-image:url(/images/bg.jpg);
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
	overflow-x:hidden;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

#beta-message{
	background-color:rgb(200,0,0);
	text-align:center;
	padding:5px;
	font-size:12px;
}

.left-text{
	text-align:left;
}

footer{
	background-color:var(--color-3);
	color:white;
	text-align:center;
	position:absolute;
	bottom:0;
	min-width:100%;
	font-weight:400;
	padding:20px 0px;
	font-size:12px;
	line-height:20px;
}

.hidden{
	display:none;
}


.default{
	padding-top:10px;
	text-align:center;
	padding-bottom:25px;
	color:white;
}


.default-header{
	text-align:center;
	font-size:18px;
	color:white;
	font-weight:500;
	padding-bottom:18px;
	padding-top:18px;
	background-color:var(--color-9);
	margin-left:auto;
	margin-right:auto;
	margin-bottom:35px;
	margin-top:35px;
}

.default-sub-header{
	text-align:center;
	font-size:16px;
	color:white;
	font-weight:500;
	padding-bottom:12px;
	padding-top:12px;
	width:var(--width-1);
	max-width:var(--max-width-1);
	margin-left:auto;
	margin-right:auto;
	background-color:var(--color-9);
}

.default-sub-header-alt{
	text-align:center;
	font-size:16px;
	color:white;
	font-weight:500;
	padding-bottom:15px;
	width:90%;
	max-width:1250px;
	margin-left:auto;
	margin-right:auto;
}


.default-info{

	background-color:var(--color-3);
	border:1px solid var(--border-color-1);
	max-width:var(--max-width-1);
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px 0px;
	
}


.country-flag{
	width:16px;
	margin-right:2px;
}

#content{
	padding-bottom:150px;
	padding-top:18px;
	background-color:rgba(40,40,40,0.95);
	min-height:100vh;
}

.relative{
	position:relative;
}

#welcome-text{
	font-size:14px;
	line-height:24px;
}

.kv{
	display:grid;
	grid-template-columns: 50% 50%;
}

.kv div:nth-child(1){
	color:yellow;
}


table{
	border-collapse: collapse;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-left:auto;
	margin-right:auto;
	max-width:1250px;
}


th{
	font-weight:500;
	color:yellow;
	font-size:14px;
	padding:6px 0px;
	background-color:var(--color-8);
}

td{
	font-weight:normal;
	padding:6px 5px;
	font-size:13px;
}

tr{
	transition:all 0.4s;
}

tr:nth-child(odd){
	background-color:var(--color-10);
}

tr:nth-child(even){
	background-color:var(--color-9);
}

tr:nth-child(odd):hover, tr:nth-child(even):hover{
	background-color:var(--color-3a);
	color:yellow;
}

.title-flag{
	height:20px;
}

.td-1-left td:nth-child(1){
	text-align:left;
}

.white{
	color:white;
}

.yellow{
	color:var(--yellow-1)
}

.green{
	color:rgb(50,255,50)
}

.red{
	color:var(--red-1);
}

.orange{
	color:orange;
}

.duo{
	display:grid;
	grid-template-columns: 50% 50%;
}

.team-none{
	background-color:rgba(0,0,0, 0.25);
	
}


.duo div:nth-child(1), .trio div:nth-child(1), .quad div:nth-child(1), .team-red{
	background-color:var(--red-2);
}



.duo div:nth-child(2), .trio div:nth-child(2), .quad div:nth-child(2), .team-blue{
	background-color:rgba(20,61,116,0.75);
}


.duo div:nth-child(3), .trio div:nth-child(3), .quad div:nth-child(3), .team-green{
	background-color:rgba(0,66,0,0.75);
}


.duo div:nth-child(4), .trio div:nth-child(4), .quad div:nth-child(4), .team-yellow{
	background-color:var(--yellow-2)
}


.solo{
	background-color:var(--color-3);
}

.trio{
	display:grid;
	grid-template-columns: 33% 34% 33%;
}

.quad{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.solo div, .duo div, .trio div, .quad div{
	font-size:14px;
	height:100%;
}

.weapon-image{
	width:150px;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

.text-left{
	text-align:left;
}

.text-center{
	text-align:center;
}

.text-right{
	text-align:right;
}

.m-bottom-25{
	margin-bottom:25px;
}

.m-bottom-10{
	margin-bottom:10px;
}

.m-top-10{
	margin-top:10px;
}

.m-top-15{
	margin-top:15px;
}

.m-top-25{
	margin-top:25px;
}

.p-bottom-25{
	padding-bottom:25px;
}

.p-top-25{
	padding-top:25px;
}

.t-width-1000{
	max-width:1000px;
}

.p-left-5{
	padding-left:5px;
}

.p-right-5{
	padding-right:5px;
}

.t-width-0{
	width:100%;
}

.t-width-1{
	width:90%;
	max-width:var(--max-width-1);
}

.t-width-2{
	width:90%;
	max-width:500px;
}

.t-width-3{
	width:90%;
	max-width:250px;
}

.t-width-4{
	width:90%;
	max-width:800px;
}

.form{
	background-color:var(--color-9);
	max-width:var(--max-width-1);
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px 0px;
}

.form-info{
	padding:10px;
	font-size:14px;
	line-height:24px;
}

.select-row{
	display:grid;
	grid-template-columns: 50% 50%;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	position:relative;
}

.default-select{
	background-color:var(--color-8);
	color:white;
	border:1px solid var(--border-color-3);
	font-size:16px;
	font-weight:300;
	padding:5px;
	width:95%;
	height:36px;
	line-height:24px;
	max-width:300px;
	position:relative;
}

.default-select option{
	background-color:var(--color-9);
}

.select-label{
	color:white;
	width:95%;
	font-size:16px;
	text-align:right;
	margin-right:5px;
	line-height:34px;
}

.default-textbox{
	max-width:290px;
	width:90%;
	background-color:var(--color-3a);
	font-size:18px;
	font-weight:300;
	padding:5px;
	border:1px solid var(--border-color-3);
	color:white;
}


.default-number{
	background-color:var(--color-1);
	font-size:18px;
	font-weight:300;
	padding:5px;
	border:1px solid var(--border-color-3);
	color:white;
}

.default-textarea{
	background-color:var(--color-1);
	font-size:14px;
	font-weight:300;
	padding:5px;
	border:1px solid var(--border-color-3);
	margin-bottom:10px;
	color:white;
}

.search-button, .bigger-button{
	display:block;
	width:290px;
	color:white;
	background-color:var(--color-3);
	background:linear-gradient(to bottom right, var(--color-3a), var(--color-1a));
	border:1px solid var(--border-color-3);
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	font-size:14px;
	line-height:24px;
	transition:all 0.5s;
	user-select:none;
}


.red-button{
	display:block;
	width:290px;
	background-color:var(--red-2);
	color:white;
	border:1px solid var(--border-color-3);
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	font-size:14px;
	line-height:24px;
	transition:all 0.5s;
	user-select:none;
}

.search-button:hover, .bigger-button:hover{
	background-color:var(--color-2);
	cursor:pointer;
}

.red-button:hover{
	background-color:var(--red-3);
	cursor:pointer;
}

.bigger-button{
	width:400px;
}

.default-radios{
	font-size:12px;
	color:white;
}

.default-radios input[type='radio']{
	margin-left:5px;
	margin-right:5px;
}
.not-found{
	color:white;
	padding:10px;
}

input[type="range"]{
	background-color:red;
	color:green;
}

.tabs, .big-tabs, .view-profile{
	text-align:center;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	background-color:var(--color-1);
	user-select: none;
}
.view-profile{
	padding:5px;
}

.tab, .big-tab{
	color:white;
	display:inline-block;
	font-size:14px;
	padding:5px 10px;
	transition:background-color 0.5s;

}

.tab:hover, .big-tab:hover{
	cursor: pointer;
	user-select: none;
	background-color:rgb(32,32,32);
}

.tab-selected{
	background-color:rgb(64,0,0);
	color:yellow;
}

.tab-selected:hover{
	background-color:rgb(128,0,0);
}

.no-drop{
	cursor:no-drop;
}

.name-td{
	min-width:150px;
	max-width:150px;
}

.black{
	background-color:black;
}

.padding-0{
	padding:0;
	margin:0;
}

.td-1-150 td:nth-child(1){
	width:150px;
}


.player-td-1 td:nth-child(1){
	width:200px;
	text-align:left;
}

.player{
	width:200px;
	text-align:left;
}

.ranking-icon{
	height:14px;
	margin-right:5px;
}

.ranking-position{
	font-style:italic;
	color:yellow;
	font-size:12px;
	padding-right:5px;
}

.pass{
	background-color:green;
	padding:10px;
	font-size:14px;
	border:1px solid var(--border-color-1);
	max-width:var(--max-width-1);
	width:var(--width-1);
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
}

.deleted{
	background-color:black;
	color:rgb(100,100,100);
	font-style:italic;
}


.button{
	padding:5px;
	border:1px solid var(--border-color-1);
	background-color:var(--color-3);
	user-select: none;
	transition:all 0.5s;
	color:white;
	font-size:inherit;
}

.button:hover{
	background-color:var(--color-2);
	cursor:pointer;
}

.min-width-150{
	min-width:150px;
}

.width-150{
	width:150px;
}

.width-50{
	width:50px;
}

.simple-pagination{
	background-color:var(--color-1);
	width:var(--width-1);
	max-width:var(--max-width-1);
	margin-left:auto;
	margin-right:auto;
	display:grid;
	grid-template-columns: 30% 40% 30%;
	height:40px;
}

.simple-pagination div:nth-child(1), .simple-pagination div:nth-child(3){
	line-height:40px;
	background-color:var(--color-4);
	transition: all 0.5s;
	user-select: none;
	
}

.simple-pagination div:nth-child(1):hover, .simple-pagination div:nth-child(3):hover{
	cursor: pointer;
	background-color:var(--color-2);
	color:yellow;
}

.simple-pagination div:nth-child(2){
	font-size:12px;
	line-height:16px;
	padding-top:4px;
}

.error{
	padding:5px;
}


.map-image{
	width:382px;
	height:216px;
}

.monster-image{
	width:150px;
	height:150px;
}

.purple{
	background-color:rgb(66,13,131);
}



.place{
	color:yellow;
    font-style:italic;
    font-size:12px;
}

.no-select{
	user-select: none;
}

.hover-cursor:hover{
	cursor:pointer;
}

.hover{
	cursor: pointer;
}

.default-cursor{
	cursor: default;
}

.pointer{
	user-select:none;
}

.pointer:hover{
	cursor:pointer;
}

.small-font{
	font-size:12px;
}

.grey{
	color:var(--color-6);
}

.thumb-sshot{
    height:196px;
    width:350px;
}

.playtime{
	font-size:12px;
	color:var(--color-6);
}

.ellipsis{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.timestamp{
	display:inline-block;
	color:yellow;
	letter-spacing: 1px;
}

.no-data{
	background-color:var(--color-8);
	display:inline-block;
	font-size:14px;
	padding:10px;
}

.admin-selected{
	background-color:yellow;
}
