.top{
    background-color:black;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    border:1px solid rgba(255,255,255,0.25);
    padding-top:10px;
}


.ttop{
    border:none;
    line-height:12px;
    font-size:12px;
    width:100%;
}

.ttop tr:nth-child(even){
    background-color:rgb(12,12,12);
}

.ttop td{
    border:none;
}

.ttop td:nth-child(1){
    text-align:right;
    color:yellow;
    width:50%;
}

.ttop td:nth-child(2){
    text-align:left;
    width:50%;

}

.mimage{
    width:90%;
    max-width:500px;
}

.mimage:hover{
    cursor:pointer;
}