.top{
    background-color:black;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    border:1px solid rgba(255,255,255,0.25);
    padding-top:10px;
    padding-bottom:10px;
}

.ttop{

}

.ttop{
    border:none;
}

.ttop td{
    border:none;
}

.ttop td:nth-child(1){
    text-align:right;
    color:yellow;
}

.ttop td:nth-child(2){
    text-align:left;

}


.mimage{
    width:90%;
    max-width:750px;
}

.mimage:hover{
    cursor:pointer;
}