.table td:nth-child(1), .table th:nth-child(1){
    width:50px;
}

.table td:nth-child(2), .table th:nth-child(2){
    width:200px;
}

.table td:nth-child(3), .table th:nth-child(3){
    width:200px;
}

.table td:nth-child(4), .table th:nth-child(4){
    width:100px;
}

.table td:nth-child(5), .table th:nth-child(5){
    width:100px;
}

.icon{
    height:14px;
    margin-right:5px;
}


.viewall{
    background-color:var(--color-1);
    border: 1px solid var(--border-color-1);
    padding:5px 10px;
    display:inline-block;
    transition:all 0.5s;
    font-size:12px;
    line-height:14px;
}

.viewall:hover{
    background-color:var(--color-2);
    color:yellow;
}

.mleft5{
    margin-left:5px;
}